name: CI Quality Gate (Test & Validate)

# Se activa al hacer push a main
on:
  push:
    branches:
      - main
  # También permite activarlo manualmente si quieres probar
  workflow_dispatch:

jobs:
  test-code:
    runs-on: ubuntu-latest

    steps:
      # 1. Bajar código
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Configurar Python
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3. Instalar librerías
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          # Instalamos DVC para bajar los datos
          pip install "dvc[s3]"
          # Instalamos requerimientos del proyecto
          pip install --no-cache-dir -r requirements.txt
          # Instalamos pytest para las pruebas
          pip install pytest

      # 4. Autenticarse en AWS (SOLO para que DVC baje los datos de S3)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      # 5. Descargar Datos (DVC)
      - name: Pull Data from DVC
        run: |
          dvc pull

      # 6. Ejecutar Tests
      # Si esto falla, te llegará un correo y sabrás que tu código está roto.
      # Si pasa, Render verá el 'check verde' en GitHub y desplegará.
      - name: Run Unit Tests
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_API_KEY }}
          PYTHONPATH: ${{ github.workspace }}
        run: |
          pytest tests/
